h1{
    color: brown;
}

.kotak{
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 20;
    color: #ffffff;
    float: left;
}

#biru{
    background-color: skyblue;
}

#unggu{
    background-color: lavender;
}
#merahmuda{
    background-color: pink;
}
#jingga{
    background-color: orange;
}